// Style sheet for responsive

.show-on-mobile{
    display: none;
}

// When screen smaller than X px
@media screen and (max-width: $mobile-width-limit) {
    .show-on-mobile {
        display: block;
    }

    .hide-on-mobile {
        display: none;
    }

    #header-logo {
        text-align: center;

        img {
            width: auto;
            height: $logo-height / 1.5 !important;
        }
    }

    .div-widgets {
        text-align: center;
    }

    .nav-item {
        display: block !important;
    }
}

// When screen greater than X px
@media screen and (min-width: $mobile-width-limit) {
    .div-widgets {
        float: right;
    }
}