// Main styles

@import '_core/normalize';
@import '_core/responsive';

@import '_partials/header';
@import '_partials/services';
@import '_partials/technologies';
@import '_partials/contact';
@import '_partials/footer';
@import '_partials/word-cloud';
@import '_partials/404';

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

.container {
    max-width: 100em;
    margin: auto;

    h2 {
        margin-top: 0.5em;
        margin-bottom: 1.5em;

        text-align: center;
    }
}

.section-spacing {
    padding-top: 3em;
    padding-bottom: 3em;
}

p, span, label {
    font-size: 1.2em;
}

// Fonts
@font-face {
    font-family: $font-regular;
    font-weight: 400;
    src: url($font-regular-url);
    font-display: swap;
}
@font-face {
    font-family: $font-bold;
    font-weight: 700;
    src: url($font-bold-url);
    font-display: swap;
}
@font-face {
    font-family: $font-italic;
    font-style: italic;
    font-weight: 500;
    src: url($font-italic-url);
    font-display: swap;
}

body {
    background-color: $color-secondary;
    font-family: $font-regular, 'sans-serif';
    color: $color-text-dark;
    overflow-x: hidden;
}

a {
    color: $color-text-dark;
    &:hover {
        color: lighten($color-text-dark, 20%);
    }
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    border: $color-main;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 1em;

    color: $color-text-dark;
    font-weight: bold;
    padding: 0em 3em 0em 3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    background-color: $color-main;

    &:hover {
        color: $color-text-dark;
        border: darken($color-main, 5);
        border-style: solid;
        border-width: 0.2em;
    }

    &:disabled {
        background-color: darken($color-main, 5%);
        border: darken($color-main, 5%);
        border-style: solid;
        border-width: 0.2em;

        &:hover {
            background-color: darken($color-main, 5%);
            border: darken($color-main, 5%);
            border-style: solid;
            border-width: 0.2em;
        }
    }
}

.div-contact-button {
    margin-top: 3em;
    margin-bottom: 1em;
}

// Hamburger
.hamburger {
    display: inline-block;
    cursor: pointer;

    &-bar1, &-bar2, &-bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    &-change &-bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    &-change &-bar2 {
          opacity: 0;
    }

    &-change &-bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
}

// Return page top button
.return-page-top {
    border: $color-main;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 1em;
    display: none;

    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 99;
    cursor: pointer;
    border-radius: 20em;
    width: 3em;
    height: 3em;
    background-color: $color-main;

    &:hover {
        color: $color-text-dark;
        border: darken($color-main, 5);
        border-style: solid;
        border-width: 0.2em;
    }
}

// Forms
.form-error {
    color: $color-error-light;
}

// Utilities
.hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip: rect(1px 1px 1px 1px)    !important;
}
