
// Styles loaded only when javascript is disabled (for reason...)

.hide-on-mobile {
    display: block;
}

.mobile-nav-btn {
    display: none;
}

.service-card {
    opacity: 1 !important;
}

.service-block {
    opacity: 1 !important;
}

.services-blocks-icon {
    opacity: 1 !important;
}

.word-cloud-col {
    opacity: 1;
}

.contact-form-container {
    display: none;
}

.contact-noscript {
    margin-top: 3em;
}