<section id="contact" class="section-spacing contact-section">
    <div class="container contact-container">
        {{ $data := .Site.Data.home.contact }}
        <h2>{{ $data.title | safeHTML }}</h2>

        <p>{{ $data.description | safeHTML }}</p>

        <div class="contact-form-container">
            <p><strong>{{ $data.form.all_required }}</strong></p>

            <form data-jquery-validation-messages="{{ $data.form.validation_messages | jsonify }}" id="contact-form" action="/scripts/contact" method="POST" novalidate autocomplete="off">
                <div>
                    <label for="name">{{ $data.form.name }}</label>
                    <input type="text" id="name" name="name" aria-required="true">
                </div>

                <div>
                    <label for="email">{{ $data.form.email }}</label>
                    <input type="email" id="email" name="email" aria-required="true">
                </div>

                <div>
                    <label for="subject">{{ $data.form.subject }}</label>
                    <input type="text" id="subject" name="subject" aria-required="true">
                </div>

                <div>
                    <label for="message">{{ $data.form.message }}</label>
                    <textarea id="message" name="message" rows="4" cols="50" aria-required="true"></textarea>
                </div>

                <button
                    data-submit-message-sending="{{ $data.form.submit_messages.sending }}"
                    data-submit-message-sent="{{ $data.form.submit_messages.sent }}"
                    data-submit-message-error="{{ $data.form.submit_messages.error }}"
                    class="button" type="submit">{{ $data.form.submit }}</button>
            </form>
        </div>
        <noscript class="contact-noscript">
            <p>{{ $data.noscript | safeHTML }}</p>
        </noscript>
        <div class="contact-col-image">
            <a title="{{ $data.mail.title }}" href="mailto:{{ .Site.Params.mail }}">
                <img id="contact-image" alt="{{ $data.mail.title }}" src="{{ $data.mail.icon }}" width="240" height="240"/>
            </a>
        </div>
    </div>
</section>