<footer>
    {{ $data := .Site.Data.footer }}

    <div class="footer-container">
        <div class="footer-links footer-col">
            <h2 class="h4">{{ $data.links_title }}</h2>
            <ul>
                {{ range $data.links }}
                    <li>
                        <img src="{{ .icon }}" alt="{{ .icon_alt }}" width="24" height="24"/>
                        <a href="{{ .href }}">{{ .name }}</a>
                    </li>
                {{ end }}
            </ul>
        </div>
        <div class="footer-copyrights footer-col">
            <p>{{ $data.footer_txt }} {{ .Site.Params.Company }} © {{ now.Year }} {{ $data.copyrights_notice }}</p>
        </div>
    </div>
</footer>