<header>
    <div class="container header-container">
        <div class="header-row">
            <div id="header-logo">
                <a href="{{ .Site.BaseURL }}" >
                    <h1 class="hidden">{{ .Site.Title }}</h1>
                    <img src="{{ .Site.Params.Logo }}" alt="{{ .Site.Params.Logo_alt }}" width="375" height="150"/>
                </a>
            </div>
            <div id="div-main-nav">
                <nav id="main-nav">
                    <div class="mobile-nav-btn show-on-mobile">
                        <button class=hamburger title="Ouvrir le menu">
                            <div class="hamburger-bar1"></div>
                            <div class="hamburger-bar2"></div>
                            <div class="hamburger-bar3"></div>
                        </button>
                    </div>

                    <div>
                        <ul class="nav-bar hide-on-mobile">
                            {{ range .Site.Menus.main }}
                            <li class="nav-item">
                                <a class="nav-link sliding-link" href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                            <li class="nav-item">
                                <a class="nav-link" href="tel:{{ .Site.Params.phone_href }}" title="{{ .Site.Params.phone_caption }}">
                                    <img src="/images/phone.svg" alt="{{ .Site.Params.phone_caption}}" width="24" height="24"/> {{ .Site.Params.phone}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>