<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Site.Params.author }} <meta name="author" content="{{ . }}">{{ end }}
    {{ hugo.Generator }}

    <title>{{ .Title }}</title>

    <link rel="shortcut icon" href="/favicon.ico"/>

    {{ $style := resources.Get "css/main.scss" }}
    {{ $variables := resources.Get "css/overrides/variables.scss" }}
    {{ $custom := resources.Get "css/overrides/custom.scss" }}

    {{ $stylesheet := slice $variables $style $custom | resources.Concat "css/bundle.css" | resources.ToCSS | minify | fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $stylesheet.RelPermalink }}" integrity="{{ $stylesheet.Data.Integrity }}">

    <noscript>
        {{ $noscript := resources.Get "css/noscript.scss" | resources.ToCSS | minify | fingerprint "sha512" }}
        <link rel="stylesheet" href="{{ $noscript.RelPermalink }}" integrity="{{ $noscript.Data.Integrity }}">
    </noscript>

    {{ $built := resources.Get "js/main.js" | js.Build "main.js" | minify | fingerprint "sha512" }}
    <script type="text/javascript" defer="defer" src="{{ $built.RelPermalink }}" integrity="{{ $built.Data.Integrity }}"></script>
</head>
