<section id="services" class="section-spacing services-section">
    <div class="container services-container">
        {{ $data := .Site.Data.home.services }}
        <h2>{{ $data.title | safeHTML }}</h2>

        <p>{{ $data.description | safeHTML }}</p>

        <div class="services-cards-row">
            {{ range $index, $element := $data.cards }}
                <div class="service-card" aria-labelledby="service-card-heading{{ $index }}" aria-describedby="service-card-description{{ $index }}">
                    <div class="box-part text-center">
                        <img src="{{ $element.icon }}" alt="{{ $element.icon_alt }}" width="40" height="40"/>
                        <div class="service-title">
                            <h3 id="service-card-heading{{ $index }}" class="service-card-heading">{{ $element.name }}</h3>
                        </div>

                        <div class="text">
                            <span id="service-card-description{{ $index }}" class="service-card-description">{{ $element.description | safeHTML }}</span>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>

        <div class="services-blocks-container">
            <h3>{{ $data.blocks_title }}</h3>
                {{  range $index, $element := $data.blocks }}
                    <div class="services-blocks-row services-blocks-row{{if (modBool $index 2)}}-even{{ else }}-odd{{ end }}" aria-labelledby="service-block-heading{{ $index }}" aria-describedby="service-block-description{{ $index }}">
                        {{ if not (modBool $index 2) }}
                            <div class="services-blocks-icon">
                                <img src="{{ .icon }}" alt="{{ .icon_alt }}" width="48" height="48"/>
                            </div>
                        {{ end }}

                        <div class="service-block service-block">
                            <h4 id="service-block-heading{{ $index }}" class="service-block-heading">{{ $element.name }}</h4>
                            <p id="service-block-description{{ $index }}" class="service-block-description">{{ $element.description }}</p>
                        </div>

                        {{ if (modBool $index 2) }}
                        <div class="services-blocks-icon">
                            <img src="{{ .icon }}" alt="{{ .icon_alt }}" width="48" height="48"/>
                        </div>
                    {{ end }}
                    </div>
                {{ end }}
        </div>

        <div class="div-contact-button">
            <p>{{ $data.contact_link.headline }}</p>
            <a href="#contact" class="button sliding-link">{{ $data.contact_link.label }}</a>
        </div>
    </div>
</section>