<section id="expertises" class="section-spacing technologies-section">
    <div class="container technologies-container">
        {{ $data := .Site.Data.home.technologies }}
        <h2>{{ $data.title | safeHTML }}</h2>

        <p>{{ $data.description | safeHTML }}</p>

        {{ partial "word-cloud.html" $data.word_cloud }}

        <div class="tech-logo-row">
            {{ range $data.logos }}
            <div class="tech-logo">
                <a title="{{ .name }}" href="{{ .link }}">
                    <img alt="{{ .image_alt }}" src="{{ .image }}"  width="200" height="200"/>
                </a>
            </div>
            {{ end }}
        </div>

        <div class="div-contact-button">
            <p>{{ $data.contact_link.headline }}</p>
            <a href="#contact" class="button sliding-link">{{ $data.contact_link.label }}</a>
        </div>
    </div>
</section>