<div class="word-cloud">
    <div class="word-cloud-col">
        <h3 class="word-cloud-title">{{ .title | safeHTML }}</h3>
    </div>
    <div class="word-cloud-col">
        <ul class="cloud">
            {{ range .list }}
            <li><a href="{{ .link }}" data-weight="{{ .weight }}">{{ .name }}</a></li>
            {{ end }}
        </ul>
    </div>
</div>