// 404 page

.page-not-found-section {
    background-color: $color-404;
}

.page-not-found-container {
    text-align: center;

    > p {
        margin: auto;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        max-width: 50em;
    }

    img {
        width: 20em;
        height: auto;
    }

    .page-not-found-links {
        text-align: left;
        max-width: 40em;
        margin: auto;
        margin-top: 3em;
        margin-bottom: 3em;
        li {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
    }
}