// Contact

.contact-section {
    background-color: $color-contact;
    color: $color-text-light;

    a {
        color: $color-text-light;

        &:hover {
            color: darken($color-text-light, 20%);
        }
    }
}

.contact-container {
    @extend .row;
    @extend .justify-content-center;

    p {
        margin-bottom: 1em;
        margin: auto;
        max-width: 40em;
    }

    .contact-col-image {
        @extend .col-lg-4;
        @extend .col-12;

        text-align: center;
        padding-top: 3em;
        margin: auto;
    }

    .contact-form-container {
        @extend .col-lg-8;
        @extend .col-12;

        margin-top: 1em;

        form {
            div {
                margin-bottom: 1em;
            }

            input, textarea {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            button {
                min-width: 10em;
                float: right;
            }
        }

        p {
            margin: 0;
            margin-top: 1.5em;
            margin-bottom: 1em;
        }
    }

    noscript > p {
        text-align: center;
    }

}
