// Footer

.footer-container {
    @extend .row;
    @extend .justify-content-center;
    @extend .align-items-center;

    color: $color-text-light;
    max-width: 100%;

    .footer-col {
        @extend .col-lg-6;
        @extend .col-md-12;
        @extend .col-sm-12;
        @extend .col-12;
    }

    .footer-links {
        max-width: 20em;
        margin: auto;
        margin-top: 2em;
        margin-bottom: 1em;

        h4 {
            margin-left: 0.5em;
        }

        ul {
            list-style: none;

            li {
                margin-top: 0.5em;
            }

            a {
                margin-left: 0.5em;
                color: $color-text-light;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .footer-copyrights {
        text-align: center;
        margin: 1.5em;
        p {
            margin: auto;
        }
    }
}