// Header

header {
    background: $color-main;

    .header-row {
        @extend .row;
        @extend .justify-content-center;

        // Logo
        #header-logo {
            @extend .col-xl-4;
            @extend .col-lg-4;
            @extend .col-md-12;
            @extend .col-sm-12;
            @extend .col-12;

            img {
                margin-top: 1em;
                margin-bottom: 1em;

                width: auto;
                height: $logo-height;
            }
        }

        // Main nav
        #div-main-nav {
            @extend .col-xl-8;
            @extend .col-lg-8;
            @extend .col-md-12;
            @extend .col-sm-12;
            @extend .col-12;
            @extend .align-self-center;

            #main-nav {
                .nav-bar {
                    text-align: center;
                    margin: 0;
                    padding: 0;
                }

                .nav-item {
                    display: inline-block;

                    .nav-link {
                        margin: 0.5em;
                        padding: 0.5em;
                        font-size: 1.4em;
                        font-weight: bold;
                        text-decoration: none;
                        color: $color-text-dark;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .mobile-nav-btn {
                    button {
                        border: none;
                        background-color: inherit;
                        background: none;
                        color: inherit;
                        padding: 0;
                        font: inherit;
                        cursor: pointer;
                        outline: inherit;
                        padding: 0.5em;
                    }
                    font-size: 2em;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
}