// Services
.services-section {
    background-color: $color-services;
}

.services-container {
    text-align: center;

    p {
        margin: auto;
        margin-bottom: 1em;
        max-width: 40em;
    }

    .services-cards-row {
        @extend .row;
        @extend .justify-content-center;

        margin-top: 1.5em !important;
        margin-bottom: 3em;

        .service-card {
            @extend .col-lg-4;
            @extend .col-md-6;
            @extend .col-sm-12;

            margin-top: 1em;
            margin-bottom: 1.5em;
            opacity: 0;

            &-description {
                display: inline-block;
                max-width: 23em;
            }

            img {
                margin: 1.5em;
                width: 2.5em;
                height: 2.5em;
            }
        }
    }

    .services-blocks-container {
        max-width: 80em;
        margin: auto;

        .services-blocks-row {
            @extend .row;
            @extend .justify-content-center;
            @extend .align-items-center;

            padding-top: 0.5em;
            padding-bottom: 0.5em;

            &-even {
                @extend .justify-content-start;
            }

            &-odd {
                @extend .justify-content-end;
            }

            .service-block {
                @extend .col-8;
                padding: 1em;
                margin-top: 1.5em;
                margin-bottom: 1.5em;
                background-color: white;
                border-radius: 1em;
                opacity: 0;
            }

            .services-blocks-icon {
                @extend .col-2;
                margin-top: 1.5em;
                margin-bottom: 1.5em;
                height: 3em;
                opacity: 0;

                img {
                    width: auto;
                    height: 100%;
                }
            }
        }
    }
}