// Technologies

.technologies-section {
    background-color: $color-technologies;
}

.technologies-container {
    text-align: center;

    p {
        margin: auto;
        margin-bottom: 1em;
        max-width: 40em;
    }
}

.tech-logo-row {
    @extend .row;
    @extend .align-items-center;
    @extend .justify-content-center;

    padding: 1em;
}

.tech-logo {
    @extend .col-xl-2;
    @extend .col-lg-4;
    @extend .col-md-4;
    @extend .col-sm-6;
    @extend .col-6;
    text-align: center;

    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 3em;

    img {
        max-height: 6em;
    }
}
