// Word cloud
.word-cloud {
    @extend .row;
    @extend .align-items-center;

    margin-top: 3em !important;
    margin-bottom: 3em;

    &-col {
        @extend .col-xl-6;
        @extend .col-lg-12;
        @extend .col-md-12;
        @extend .col-sm-12;
        @extend .col-12;

        opacity: 0;
    }

    &-title {
        padding: 1em 0 1em 0;
        margin: 1em 0 1em 0;
    }

    ul {
        margin: auto;
    }

    ul.cloud {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        line-height: 2.75rem;
        max-width: 40em;
    }

    ul.cloud a {
        color: $color-text-dark;
        color: var(--color);
        font-size: calc(var(--size) * 0.25rem + 0.5rem);
        display: block;
        padding: 0.125rem 0.25rem;
        position: relative;
        text-decoration: none;
    }

    ul.cloud a[data-weight="1"] {
        --size: 1;
        color: $color-cloud-3;
    }
    ul.cloud a[data-weight="2"] {
        --size: 2;
        color: $color-cloud-2;
    }
    ul.cloud a[data-weight="3"] {
        --size: 3;
        color: $color-cloud-1;
    }
    ul.cloud a[data-weight="4"] {
        --size: 4;
        color: $color-text-dark;
        font-weight: bold;
    }
    ul.cloud a[data-weight="5"] {
        --size: 6;
        color: $color-main;
        font-weight: bolder;
    }

    ul[data-show-value] a::after {
        content: " (" attr(data-weight) ")";
        font-size: 1rem;
    }

    ul.cloud a:focus {
        outline: 1px dashed;
    }

    ul.cloud a:hover {
        text-decoration: underline;
    }
}