{{ define "main" }}
    <div class="page-not-found-section section-spacing">
        <div class="container page-not-found-container">
            {{ $data := .Site.Data.page_not_found }}

            <h1>{{ $data.title }}</h1>
            <h2>{{ $data.sub_title }}</h2>

            <img src="{{ $data.icon }}" alt="{{ $data.icon_alt }}" width="320" height="320"/>

            <p>{{ $data.description }}</p>

            <ul class="page-not-found-links">
                {{ range $data.links }}
                    <li>
                        <p>
                            {{ if .href }}
                                <a href="{{ .href }}">{{ .title }}</a>
                            {{ else }}
                                {{ .title }}
                            {{ end }}
                        </p>
                    </li>
                {{ end }}
            </ul>

            <p>{{ $data.additionnal_description | safeHTML }}</p>
        </div>
    </div>
{{ end }}