{{ define "main" }}
    {{ partial "services.html" . }}
    {{ partial "technologies.html" . }}
    {{ partial "contact.html" . }}

    <div>
        {{ $data := .Site.Data.home.index }}
        <button type="button" class="return-page-top" title="{{ $data.return_to_top.title }}" aria-label="{{ $data.return_to_top.title }}">
            <img src="{{ $data.return_to_top.img.icon }}" alt="{{ $data.return_to_top.img.alt }}" width="24" height="24">
        </button>
    </div>

    {{ $built_home := resources.Get "js/home.js" | js.Build "home.js" | minify | fingerprint "sha512" }}
    <script type="text/javascript" defer="defer" src="{{ $built_home.RelPermalink }}" integrity="{{ $built_home.Data.Integrity }}"></script>
{{ end }}