// Variables

$color-main: #ff802b;
$color-secondary: #242424;

$color-services: #dddddd;
$color-technologies: white;
$color-contact: #555555;
$color-404: white;

$color-text-light: #cecece;
$color-text-dark: #303030;

$color-cloud-1: #303030;
$color-cloud-2: #404040;
$color-cloud-3: #505050;

$color-info: #dddddd;
$color-urgent: #CC0000;

$color-error-light: #ff7c7c;
$color-error-dark: #8d0000;

$mobile-width-limit: 62em;

$logo-width: 23em;
$logo-height: 9em;

$font-regular: 'Arial';
$font-regular-url: '';
$font-bold: 'Arial';
$font-bold-url: '';
$font-italic: 'Arial';
$font-italic-url: '';
